# OS / Editor junk
.DS_Store
Thumbs.db

# Go build outputs
*.exe
*.dll
*.so
*.dylib
*.test

# Environment files
.env
*.env
.env.*
server/.env

# Corefolder (ไฟล์เว็บ user)
corefolder/

# IDE / Editor configs
.vscode/
.idea/
trash_bin/
